template#viewBooks
  #appBooks
    div(v-if='auth.currentUser')
      router-link.mdl-button.mdl-js-button(to='logout') Sign Out
    div(v-else)
      router-link.mdl-button.mdl-js-button(to='/login') Sign In
    .mdl-card.card-wide.mdl-shadow--4dp
      div
        h3.mdl-card__title-text Add New Books
      .panel-body
        form#form.mdl-grid(v-on:submit.prevent='addBook')
          .mdl-cell.mdl-cell--4-col.mdl-textfield.mdl-js-textfield
            label.mdl-textfield__label(for='bookTitle') Title:
            input#bookTitle.mdl-textfield__input(type='text', v-model='newBook.title')
          .mdl-cell.mdl-cell--4-col.mdl-textfield.mdl-js-textfield
            label.mdl-textfield__label(for='bookAuthor') Author:
            input#bookAuthor.mdl-textfield__input(type='text', v-model='newBook.author')
          .mdl-cell.mdl-cell--4-col.mdl-textfield.mdl-js-textfield
            label.mdl-textfield__label(for='bookUrl') Url:
            input#bookUrl.mdl-textfield__input(type='text', v-model='newBook.url')
          input.mdl-button.mdl-js-button(type='submit', value='Add Book')
    .mdl-card.card-wide.mdl-shadow--4dp
      div
        h3.mdl-card__title-text Book List
      .panel-body
        table.mdl-data-table.mdl-js-data-table
          thead
            tr
              th.mdl-data-table__cell--non-numeric Title
              th.mdl-data-table__cell--non-numeric Author
              th.mdl-data-table__cell--non-numeric Url
              th.mdl-data-table__cell--non-numeric
          tbody
            tr(v-for='book in books')
              td.mdl-data-table__cell--non-numeric
                a(v-bind:href='book.url') {{book.title}}
              td.mdl-data-table__cell--non-numeric {{book.author}}
              td.mdl-data-table__cell--non-numeric {{book.url}}
              td.mdl-data-table__cell--non-numeric
                a
                  i.material-icons(v-on:click='removeBook(book)') delete
